.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 36px;
}

.image-grid div {
  overflow: hidden;
}

.image-grid img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform-origin: center center;
}

.image-grid img:hover {
  transform: scale(1.2) rotate(5deg);
}
