:root {
  --primary-color: #0A1128;
  --white-color: #FFFFFF;
  --light-gray-color: #EEEEEE;
  --secondary-color: crimson;
  --font-large: 6rem;
  --font-medium: 4rem;
  --font-normal: 2.4rem;
  --font-small: 1.5rem;
}